:root {
	--dark-beige: #b39164;
}

body {
	margin: 0;
	background: gray;
	font-family: sans-serif;
}

header {
	width: 100%;
	display: flex;
	background: var(--dark-beige);
}

main {
	width: 85%;
	max-width: 800px;
	background: var(--dark-beige);
	margin: 10px auto;
	border-radius: 5px;
	padding: 5px;
}
